# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
# .coverage
# .coverage.*
.cache
nosetests.xml
# coverage.xml
# *.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# .python-version

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Rope project settings
.ropeproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode

# Front End Files

Dockerfile.frontend
nginx.conf

# Migrations File
# **/migrations/**
# !**/migrations
# !**/migrations/__init__.py

# deploy_fandogh
